/* add your CSS here */

.container{
  display:flex;
  background-color: #6CABDD;
  justify-content: center;
  /* height:100%;
  width: 100%; */
}

.header{
  font-weight:bold;
  text-decoration: underline;
}

table, th, td{
  border: 2px solid black;
  text-align: center;
}


.image{
  text-align:center;
}

.text{
  margin:10px;
  padding:10px;
}

h3{
  font-size: 18px;
  font-family: Serif;
  text-decoration: underline dotted #1C2C5B;
  
}

li{
  list-style-type:none;
}
/* 
.outerbox{
  border:1px solid grey;
  margin: 10px;
  padding:10px;
  width:350px;
  height:740px;
  box-shadow:5px 5px rgb(232,232,232);
}

.crop{
  width:300px;
  height:250px;
  overflow:hidden;
  border:1px;
  padding: 1em;
}

.innerbox{
  width:280px;
  height:350px;
  border:1px solid grey;
  margin: 15px;
  padding: 1em;
}

h3{
 font-size:30px;
  font-weight: bold;
  font-family: Serif;
  margin:10px;
  border: 1px;
  padding:1px;
}

.captionStyle{
  font-style:italic;
  border:1px;
  padding: 1px;
}

span{
  font-weight: bold;
}

textFormat{
  border:1px;
  padding: 1px;
}

ul{
  padding:0;
}

li{
  list-style-type: none;
} */
