/* This is for smaller screens */

.box{
    background:orange;
}
.container{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid rgb(86, 172, 243);
}
  