
.container{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd main main main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid rgb(86, 172, 243);

}
.box{
  border: 1px solid red;
  background: #b4e78a;
  }

.header{
  font-size:100px;
  color:red;
  grid-area:hd;
}

.footer{
  grid-area: ft;
  color:blue;  
}
.sidebar{
  grid-area: sd;
  color:red;
}
.content{
  grid-area: main;
  color:green;
}

.sidebar li {
  background-color: #b4e78a;
  color: blue;
}

.sidebar li:hover {
  background-color: yellow;
  color: green;
}

/* footer{

} */

@media only screen and (max-width:800px){
  .box{
    background:pink;
  }
  .container{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 600px;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "sd sd sd sd main main main main"
    "ft ft ft ft ft ft ft ft";
    border: 2px solid rgb(86, 172, 243);
}
}

/* @import "styleMobile.css" screen and (max-width:900px) */
